<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makina</title>
    {% block styles %}{%endblock styles %}
</head>
<body>
    <header>
        <h1>makina.al</h1>
        <nav>
            <ul>
                <li><a href=""></a></li>
            </ul>
        </nav>
        <div>
            <button type="button">Shisni Automjetin</button>
        </div>
    </header>
    <main>{% block content %}

    </main>
</body>
</html>